################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DofusItemPriceExcel/obj/Debug
/DofusItemPriceExcel/bin/Debug
