################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DofusItemPriceExcel/obj/Debug
/DofusItemPriceExcel/bin/Debug
/DofusParchoPriceExcelPj/.vs
/DofusParchoPriceExcelPj/bin/Debug/net7.0
/DofusParchoPriceExcelPj/obj
/DofusParchoPriceExcelPj/packages
/DofusItemPriceExcelRunner/bin/Debug
/DofusItemPriceExcelRunner/obj/Debug
/DofusItemPriceExcelRunner/obj/Release
/DofusItemPriceExcel/obj/Release
