<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net481" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net481" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net481" />
  <package id="MiniExcel" version="1.31.3" targetFramework="net481" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net481" />
  <package id="System.Memory" version="4.5.5" targetFramework="net481" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net481" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net481" />
  <package id="System.Text.Encoding.CodePages" version="8.0.0" targetFramework="net481" />
</packages>